* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (min-width: 1200px) {
  body > div {
    width: 100vw;
    height: 100vh;
    background-color: grey;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  body > div > div:nth-child(1) {
    width: 20vw;
    height: 20vh;
    background-image: url("https://movie-phinf.pstatic.net/20220727_209/1658912961873lVd2W_JPEG/movie_image.jpg?type=f125");
    background-repeat: no-repeat;
    background-size: 20vw 20vh;
  }
  body > div > div:nth-child(2) {
    width: 20vw;
    height: 20vh;
    background-image: url("https://movie-phinf.pstatic.net/20220727_209/1658912961873lVd2W_JPEG/movie_image.jpg?type=f125");
    background-repeat: no-repeat;
    background-size: 20vw 20vh;
  }
  body > div > div:nth-child(3) {
    width: 20vw;
    height: 20vh;
    background-image: url("https://movie-phinf.pstatic.net/20220727_209/1658912961873lVd2W_JPEG/movie_image.jpg?type=f125");
    background-repeat: no-repeat;
    background-size: 20vw 20vh;
  }
  body > div > div:nth-child(4) {
    width: 20vw;
    height: 20vh;
    background-image: url("https://movie-phinf.pstatic.net/20220727_209/1658912961873lVd2W_JPEG/movie_image.jpg?type=f125");
    background-repeat: no-repeat;
    background-size: 20vw 20vh;
  }
  body > div > div:nth-child(5) {
    width: 20vw;
    height: 20vh;
    background-image: url("https://movie-phinf.pstatic.net/20220727_209/1658912961873lVd2W_JPEG/movie_image.jpg?type=f125");
    background-repeat: no-repeat;
    background-size: 20vw 20vh;
  }
  body > div > div:nth-child(6) {
    width: 20vw;
    height: 20vh;
    background-image: url("https://movie-phinf.pstatic.net/20220727_209/1658912961873lVd2W_JPEG/movie_image.jpg?type=f125");
    background-repeat: no-repeat;
    background-size: 20vw 20vh;
  }
  body > div > div:nth-child(7) {
    width: 20vw;
    height: 20vh;
    background-image: url("https://movie-phinf.pstatic.net/20220727_209/1658912961873lVd2W_JPEG/movie_image.jpg?type=f125");
    background-repeat: no-repeat;
    background-size: 20vw 20vh;
  }
  body > div > div:nth-child(8) {
    width: 20vw;
    height: 20vh;
    background-image: url("https://movie-phinf.pstatic.net/20220727_209/1658912961873lVd2W_JPEG/movie_image.jpg?type=f125");
    background-repeat: no-repeat;
    background-size: 20vw 20vh;
  }
  body > div > div:nth-child(9) {
    width: 20vw;
    height: 20vh;
    background-image: url("https://movie-phinf.pstatic.net/20220727_209/1658912961873lVd2W_JPEG/movie_image.jpg?type=f125");
    background-repeat: no-repeat;
    background-size: 20vw 20vh;
  }
  body > div > div:nth-child(10) {
    width: 20vw;
    height: 20vh;
    background-image: url("https://movie-phinf.pstatic.net/20220727_209/1658912961873lVd2W_JPEG/movie_image.jpg?type=f125");
    background-repeat: no-repeat;
    background-size: 20vw 20vh;
  }
}
@media (max-width: 768px) {
  body > div {
    width: 100vw;
    height: 100vh;
    background-color: grey;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
  }
  body > div > div:nth-child(1) {
    width: 20vw;
    height: 20vh;
    background-image: url("https://movie-phinf.pstatic.net/20220727_209/1658912961873lVd2W_JPEG/movie_image.jpg?type=f125");
    background-repeat: no-repeat;
    background-size: 20vw 20vh;
  }
  body > div > div:nth-child(2) {
    width: 20vw;
    height: 20vh;
    background-image: url("https://movie-phinf.pstatic.net/20220727_209/1658912961873lVd2W_JPEG/movie_image.jpg?type=f125");
    background-repeat: no-repeat;
    background-size: 20vw 20vh;
  }
  body > div > div:nth-child(3) {
    width: 20vw;
    height: 20vh;
    background-image: url("https://movie-phinf.pstatic.net/20220727_209/1658912961873lVd2W_JPEG/movie_image.jpg?type=f125");
    background-repeat: no-repeat;
    background-size: 20vw 20vh;
  }
  body > div > div:nth-child(4) {
    width: 20vw;
    height: 20vh;
    background-image: url("https://movie-phinf.pstatic.net/20220727_209/1658912961873lVd2W_JPEG/movie_image.jpg?type=f125");
    background-repeat: no-repeat;
    background-size: 20vw 20vh;
  }
  body > div > div:nth-child(5) {
    width: 20vw;
    height: 20vh;
    background-image: url("https://movie-phinf.pstatic.net/20220727_209/1658912961873lVd2W_JPEG/movie_image.jpg?type=f125");
    background-repeat: no-repeat;
    background-size: 20vw 20vh;
  }
  body > div > div:nth-child(6) {
    width: 20vw;
    height: 20vh;
    background-image: url("https://movie-phinf.pstatic.net/20220727_209/1658912961873lVd2W_JPEG/movie_image.jpg?type=f125");
    background-repeat: no-repeat;
    background-size: 20vw 20vh;
  }
  body > div > div:nth-child(7) {
    width: 20vw;
    height: 20vh;
    background-image: url("https://movie-phinf.pstatic.net/20220727_209/1658912961873lVd2W_JPEG/movie_image.jpg?type=f125");
    background-repeat: no-repeat;
    background-size: 20vw 20vh;
  }
  body > div > div:nth-child(8) {
    width: 20vw;
    height: 20vh;
    background-image: url("https://movie-phinf.pstatic.net/20220727_209/1658912961873lVd2W_JPEG/movie_image.jpg?type=f125");
    background-repeat: no-repeat;
    background-size: 20vw 20vh;
  }
  body > div > div:nth-child(9) {
    width: 20vw;
    height: 20vh;
    background-image: url("https://movie-phinf.pstatic.net/20220727_209/1658912961873lVd2W_JPEG/movie_image.jpg?type=f125");
    background-repeat: no-repeat;
    background-size: 20vw 20vh;
  }
  body > div > div:nth-child(10) {
    width: 20vw;
    height: 20vh;
    background-image: url("https://movie-phinf.pstatic.net/20220727_209/1658912961873lVd2W_JPEG/movie_image.jpg?type=f125");
    background-repeat: no-repeat;
    background-size: 20vw 20vh;
  }
}
@media (min-width: 769px) and (max-width: 1199px) {
  body > div {
    width: 100vw;
    height: 100vh;
    background-color: grey;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
  }
  body > div > div:nth-child(1) {
    width: 20vw;
    height: 20vh;
    background-image: url("https://movie-phinf.pstatic.net/20220727_209/1658912961873lVd2W_JPEG/movie_image.jpg?type=f125");
    background-repeat: no-repeat;
    background-size: 20vw 20vh;
  }
  body > div > div:nth-child(2) {
    width: 20vw;
    height: 20vh;
    background-image: url("https://movie-phinf.pstatic.net/20220727_209/1658912961873lVd2W_JPEG/movie_image.jpg?type=f125");
    background-repeat: no-repeat;
    background-size: 20vw 20vh;
  }
  body > div > div:nth-child(3) {
    width: 20vw;
    height: 20vh;
    background-image: url("https://movie-phinf.pstatic.net/20220727_209/1658912961873lVd2W_JPEG/movie_image.jpg?type=f125");
    background-repeat: no-repeat;
    background-size: 20vw 20vh;
  }
  body > div > div:nth-child(4) {
    width: 20vw;
    height: 20vh;
    background-image: url("https://movie-phinf.pstatic.net/20220727_209/1658912961873lVd2W_JPEG/movie_image.jpg?type=f125");
    background-repeat: no-repeat;
    background-size: 20vw 20vh;
  }
  body > div > div:nth-child(5) {
    width: 20vw;
    height: 20vh;
    background-image: url("https://movie-phinf.pstatic.net/20220727_209/1658912961873lVd2W_JPEG/movie_image.jpg?type=f125");
    background-repeat: no-repeat;
    background-size: 20vw 20vh;
  }
  body > div > div:nth-child(6) {
    width: 20vw;
    height: 20vh;
    background-image: url("https://movie-phinf.pstatic.net/20220727_209/1658912961873lVd2W_JPEG/movie_image.jpg?type=f125");
    background-repeat: no-repeat;
    background-size: 20vw 20vh;
  }
  body > div > div:nth-child(7) {
    width: 20vw;
    height: 20vh;
    background-image: url("https://movie-phinf.pstatic.net/20220727_209/1658912961873lVd2W_JPEG/movie_image.jpg?type=f125");
    background-repeat: no-repeat;
    background-size: 20vw 20vh;
  }
  body > div > div:nth-child(8) {
    width: 20vw;
    height: 20vh;
    background-image: url("https://movie-phinf.pstatic.net/20220727_209/1658912961873lVd2W_JPEG/movie_image.jpg?type=f125");
    background-repeat: no-repeat;
    background-size: 20vw 20vh;
  }
  body > div > div:nth-child(9) {
    width: 20vw;
    height: 20vh;
    background-image: url("https://movie-phinf.pstatic.net/20220727_209/1658912961873lVd2W_JPEG/movie_image.jpg?type=f125");
    background-repeat: no-repeat;
    background-size: 20vw 20vh;
  }
  body > div > div:nth-child(10) {
    width: 20vw;
    height: 20vh;
    background-image: url("https://movie-phinf.pstatic.net/20220727_209/1658912961873lVd2W_JPEG/movie_image.jpg?type=f125");
    background-repeat: no-repeat;
    background-size: 20vw 20vh;
  }
}/*# sourceMappingURL=prac-media(website).css.map */