.movie-10, .movie-9, .movie-8, .movie-7, .movie-6, .movie-5, .movie-4, .movie-3, .movie-2, .movie-1, .movie-main {
  background-size: contain;
  background-repeat: no-repeat;
}

.movie-main {
  background-image: url("https://i.ytimg.com/vi/oGZRqMR_KOw/maxresdefault.jpg");
  background-size: cover;
}

.movie-1 {
  background-image: url("https://movie-phinf.pstatic.net/20220727_209/1658912961873lVd2W_JPEG/movie_image.jpg?type=f125");
}

.movie-2 {
  background-image: url("https://movie-phinf.pstatic.net/20220720_283/1658284839003UzxoT_JPEG/movie_image.jpg?type=f125");
}

.movie-3 {
  background-image: url("https://movie-phinf.pstatic.net/20220509_176/1652081912471yhg3N_JPEG/movie_image.jpg?type=f125");
}

.movie-4 {
  background-image: url("https://movie-phinf.pstatic.net/20220708_75/16572722362230AyHS_JPEG/movie_image.jpg?type=f125");
}

.movie-5 {
  background-image: url("https://movie-phinf.pstatic.net/20220622_63/165588851818770zWk_JPEG/movie_image.jpg?type=f125");
}

.movie-6 {
  background-image: url("https://movie-phinf.pstatic.net/20220607_129/16545872892918GA4h_JPEG/movie_image.jpg?type=f125");
}

.movie-7 {
  background-image: url("https://movie-phinf.pstatic.net/20220704_246/16569027452369rlGb_JPEG/movie_image.jpg?type=f125");
}

.movie-8 {
  background-image: url("https://movie-phinf.pstatic.net/20220706_263/1657071698045SKrKH_JPEG/movie_image.jpg?type=f125");
}

.movie-9 {
  background-image: url("https://movie-phinf.pstatic.net/20220718_224/1658121739465fgRof_JPEG/movie_image.jpg?type=f125");
}

.movie-10 {
  background-image: url("https://movie-phinf.pstatic.net/20220719_204/1658213979488T3KN1_JPEG/movie_image.jpg?type=f125");
}

body > div {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body > div > main {
  width: 100vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
}
body > div > main > header {
  width: 90vw;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
body > div > main > header > nav {
  width: inherit;
  height: 10vh;
}
body > div > section {
  width: 100vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10vh;
}
body > div > section > div:nth-child(1) {
  width: 90vw;
  height: 35vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
}
body > div > section > div:nth-child(1) > div {
  width: 40vw;
  height: 35vh;
}
body > div > section > div:nth-child(1) > aside {
  width: 50vw;
  height: 25vh;
  align-self: end;
}
body > div > section > div:nth-child(2) {
  width: 90vw;
  height: 25vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 1vh;
}
body > div > section > div:nth-child(2) > div {
  width: 18vw;
  height: 25vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 360px) {
  body > div > main {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: row;
    margin-top: 2vh;
  }
  body > div > main > header {
    width: 15vw;
    height: 10vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
  }
  body > div > main > header > nav {
    width: 10vw;
    height: 5h;
  }
  body > div > section {
    width: 90vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  body > div > section > div:nth-child(1) > div {
    width: 90vw;
    height: 50vh;
  }
  body > div > section > div:nth-child(1) > aside {
    width: 90vw;
    height: 40vh;
  }
  body > div > section > div:nth-child(2) {
    width: 80vw;
    height: 25vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-wrap: wrap;
  }
  body > div > section > div:nth-child(2) > div {
    width: 40vw;
    height: 25vh;
  }
}
@media (min-width: 361px) and (max-width: 1024px) {
  body > div > main {
    width: 90vw;
    height: 50vh;
    margin-top: 2vh;
  }
  body > div > main > header {
    width: 70vw;
    height: 15vh;
  }
  body > div > section {
    width: 90vw;
    height: 50vh;
  }
  body > div > section > div:nth-child(1) {
    width: 80vw;
    height: 35vh;
  }
  body > div > section > div:nth-child(1) > aside {
    width: 40vw;
    height: 25vh;
  }
  body > div > section > div:nth-child(2) {
    width: 80vw;
    height: 25vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    flex-wrap: wrap;
  }
  body > div > section > div:nth-child(2) > div {
    width: 16vw;
    height: 25vh;
  }
}/*# sourceMappingURL=style.css.map */